<div class="row page-head">
  <div class="columns small-12">
    <h1>Change Your Pokemon Offer</h1>
  </div>
</div>

<div class="row search-bar">
  <div class="columns small-12">

  </div>
</div>

<%= form_for :pokeballs, method: :put, url: pokeball_path(@pokeball.id) do |f| %>

  <div class="row">
    <div class="text-center columns small-3 small-pokediv">
      <%= image_tag @pokeball.pokemon.sprite, class: "small-poke-sprite" %>
    </div>
  </div>

  <div class="row">
    <div class="field columns small-7">
      <%= f.label :description %>
      <%= f.text_area :description, value: @pokeball.description %>
    </div>
  </div>

  <div class="row">
    <div class="field columns small-3 float-left">
      <%= f.label :level, class: "inline" %>
      <em>(1-100)</em>
      <%= f.number_field :level, value: @pokeball.level %>
    </div>
  </div>

  <div class="row">
    <div class="field columns small-3 float-left">
      <%= f.label :hpIV, "HP IV", class: "inline" %>
      <em>(0-31)</em>
      <%= f.number_field :hpIV, value: @pokeball.hpIV %>
    </div>

    <div class="field columns small-3 float-left">
      <%= f.label :attIV, "Att IV", class: "inline" %>
      <em>(0-31)</em>
      <%= f.number_field :attIV, value: @pokeball.attIV %>
    </div>

    <div class="field columns small-3 float-left">
      <%= f.label :defIV, "Def IV", class: "inline" %>
      <em>(0-31)</em>
      <%= f.number_field :defIV, value: @pokeball.defIV %>
    </div>
  </div>

  <div class="row">
    <div class="field columns small-3 float-left">
      <%= f.label :spaIV, "SpA IV", class: "inline" %>
      <em>(0-31)</em>
      <%= f.number_field :spaIV, value: @pokeball.spaIV %>
    </div>

    <div class="field columns small-3 float-left">
      <%= f.label :spdIV, "SpD IV", class: "inline" %>
      <em>(0-31)</em>
      <%= f.number_field :spdIV, value: @pokeball.spdIV %>
    </div>

    <div class="field columns small-3 float-left">
      <%= f.label :speIV, "Spe IV", class: "inline" %>
      <em>(0-31)</em>
      <%= f.number_field :speIV, value: @pokeball.speIV %>
    </div>
  </div>

  <div class="row button-row">
    <div class="submit columns small-7">
      <%= f.submit "Submit Changes", class: "button" %>
    </div>
  </div>
<% end %>
