<div class="row">
  <div class="columns small-8">
    <h2><%= @pokeball.user.username %>'s Trade Offer for <%= @pokeball.pokemon.name %></h2>
  </div>
</div>

<div class="row">
  <div id="offer<%= @pokeball.id %>" class="text-center columns small-3 pokediv callout">
    <h5><%= @pokeball.user.username %>'s <%= @pokeball.pokemon.name %></h5><hr>
    <%= image_tag @pokeball.pokemon.sprite, class: "poke-sprite" %>
  </div>
  <div id="offer-detail<%= @pokeball.id %>" class="columns small-8 float-left">
    <h5><strong>Level: </strong><%= @pokeball.level ? @pokeball.level : "?" %></h5>
    <div class="">
      <%= @pokeball.pokemon.typeB if @pokeball.pokemon.typeB %>
      <%= @pokeball.pokemon.typeA %>
    </div>
    <h4 class="inline">IVs:</h4><em> <%= link_to "(What are IVs?)", "http://bulbapedia.bulbagarden.net/wiki/Individual_values", target: "_blank" %></em>
    <div class="row">
      <h5 class="iv columns small-1 float-left"><strong>HP: </strong><%= @pokeball.hpIV ? @pokeball.hpIV : "?" %></h5>
      <h5 class="iv columns small-1 float-left"><strong>Atk: </strong><%= @pokeball.attIV ? @pokeball.attIV : "?" %></h5>
      <h5 class="iv columns small-1 float-left"><strong>Def: </strong><%= @pokeball.defIV ? @pokeball.defIV : "?" %></h5>
      <h5 class="iv columns small-1 float-left"><strong>SpA: </strong><%= @pokeball.spaIV ? @pokeball.spaIV : "?" %></h5>
      <h5 class="iv columns small-1 float-left"><strong>SpD: </strong><%= @pokeball.spdIV ? @pokeball.spdIV : "?" %></h5>
      <h5 class="iv columns small-1 float-left"><strong>Spe: </strong><%= @pokeball.speIV ? @pokeball.speIV : "?" %></h5>
    </div>
    <h5><strong>Description: </strong><%= @pokeball.description == "" ? "N/A" : @pokeball.description %></h5>
    <% if @pokeball.user == current_user %>
      <%= link_to "Edit Offer", edit_pokeball_path(@pokeball.id) %>
      <%= link_to "Delete Offer", pokeball_path(@pokeball.id), method: :delete %>
    <% end %>
  </div>
  <hr>
</div>
<div class="row">
  <div class="columns small-12">
    <% if current_user && current_user != @pokeball.user && !@active %>
    <%= link_to "Send Trade Request", send_trade_mail_user_path %>
    <% elsif current_user && current_user == @pokeball.user %>
    <div class="callout columns small-4">
      You cannot request to trade with yourself.
    </div>
    <% elsif @active %>
      You have already sent a request
    <% else %>
    <%= link_to "You must be logged in to request a trade", new_user_session_path %>
    <% end %>
  </div>
</div>
