<div class="row page-head">
  <div class="columns small-12">
    <h2>Forgot your password?</h2>
  </div>
</div>

<div class="row search-bar">
  <div class="columns small-12">

  </div>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <div class="columns small-8">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, placeholder: "e.g. pokemaster@example.com" %>
    </div>
  </div>

  <div class="row button-row">
    <div class="columns small-8">
      <%= f.submit "Send me reset password instructions", class: "button" %>
    </div>
  </div>
<% end %>
