<h1>All Current Trade Requests</h1>

<% @requests.each do |request| %>
  <div class="row">
    <div id="request<%= request.id %>" class="text-center columns small-3 pokediv callout">
      <h5><%= request.user.username %>'s <%= request.pokemon.name %> Request</h5><hr>
      <%= link_to "#{image_tag request.pokemon.sprite, class: 'poke-sprite'}".html_safe, request_path(request.id), id: "request-poke-link#{request.id}" %>
    </div>
    <div id="request-detail<%= request.id %>" class="columns small-8 float-left">
      <div class="">
        <%= request.pokemon.typeB if request.pokemon.typeB %>
        <%= request.pokemon.typeA %>
      </div>
      <h5><strong>Description: </strong><%= request.description == "" ? "N/A" : request.description %></h5>
    </div>
  </div>
  <hr>
<% end %>
