<div class="row page-head">
  <div class="columns small-12">
    <h1>Request a new Pokemon</h1>
  </div>
</div>

<div class="row search-bar">
  <div class="columns small-12">

  </div>
</div>

<%= form_for :requests, method: :post, url: requests_path do |f| %>

  <div class="row">
    <div class="columns small-7">
      <%= f.label :pokemon %>
      <%= f.select :pokemon, options_for_select(@pokemon) %>
    </div>
</div>

  <div class="row">
    <div class="field columns small-7">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="row button-row submit-zone">
    <div class="submit columns small-7">
      <%= f.submit "Submit Request", class: "button" %>
    </div>
  </div>
<% end %>
